body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ddd;
}

header, main, footer {
    padding: 2rem;
}

h1, h2 {
    margin: 0;
    padding: 0.5rem;
    color: #fff;
}

p {
    line-height: 1.5;
}

a {
    color: #888;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #444;
}

#theme-toggle {
    background-color: #444;
    color: #ddd;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.light-theme {
    background-color: #eee;
    color: #222;
}

.light-theme h1,
.light-theme h2 {
    color: #000;
}

.light-theme a {
    color: #000;
}
